header{

    
    background:linear-gradient(rgba(241, 193, 223, 0.589), transparent),
    url("https://yaretzi96.github.io/intermediate/images/lucky4.JPG");
      background-position:center top;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      overflow: hidden;
      padding-left: 15px;
      padding-right: 15px;
      color: rgba(20, 20, 20, 0.856); 
     width: fit-content;
     height: 500px;
}
header{
  animation:slideIn .5s linear;
  }
      
  @keyframes slideIn{
    0% {transform: translateY(200px);
    animation-timing-function: ease-out;
    }
  
    30%{transform: translateY(-40px);
    animation-timing-function: ease-in;
    }
    60%{transform: translateY(10px);
      animation-timing-function: ease-out
    }
    100%{transform: translateY(0);
      animation-timing-function: ease-in;
    }
  }

  @media screen and (max-width: 800px) {
    .site-header .navbar-collapse {
      padding:5px;
      transition: all .5s ease-out;
    }
  }
  

.row {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-inline-grid;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    margin-inline-end: 10px;
  }
.row {
    align-content:justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  [class*="col-"] {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
  }

#layout-carousel img{
    display: block;
  }
#layout-carousel .fade {
          opacity: 1;
          position: relative;
          padding: 5px;
          
        }
       @media screen and (min-width: 992px) {
          #layout-float {
            margin: 50px 0 150px 0;
   }
}













